@using WebAppBasicASP.NetCS.Models
@model Employee 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        <h2>Hello world!</h2>

        @Html.ActionLink("Home", "index")
        @Html.ActionLink("Details", "Details")

        @{
            List<string> Names = new List<string>() { "Raiden Shogen", "Kujou Sara", "Qiqi", "Xiangling" };
            bool show = true;
        }
        <h3>
            @(show == true? "Names visible" : "Names hidden")
        </h3>

        @helper ShowList(List<string> list)
        {
            <ul>
                @foreach (string item in list)
                {
                    <li>@item</li>
                }
            </ul>
        }

        @using (Html.BeginForm("Details", "Home", FormMethod.Post))
        {
            <p>
                Id:
                @Html.TextBoxFor(Model => Model.Id)
            </p>
            <p>
                Name:
                @Html.TextBoxFor(Model => Model.Name)
            </p>
            <p>
                Email:
                @Html.TextBoxFor(Model => Model.Email)
            </p>
            <input type="submit" value="Submit"/>
        }




        @if (show == true)
        {
            @ShowList(Names)
        }

    </div>
</body>
</html>
